[submodule "deps/libs/calendar"]
	path = deps/libs/calendar
	url = https://github.com/KishoreKittu467/Calendar.git
[submodule "deps/libs/rich_text_editor"]
	path = deps/libs/rich_text_editor
	url = https://github.com/KishoreKittu467/compose-rich-editor.git
